{% macro proxy(m) -%}

    {{ m.req_type }} req{
            {}, {{ m.arg_in | map(attribute='name') | join(', ') }}
    };
    static {{ m.res_type }} res{};

    nk_req_reset(&req);
    nk_req_reset(&res);

    nk_msg_set_method_id(
            &req,
            this->riid,
            {{ m.ctx.prefix }}{{ m.name }}_mid
    );
    nk_msg_set_method_id(
            &res,
            this->riid,
            {{ m.ctx.prefix }}{{ m.name }}_mid
    );

    nk_msg_set_ncaps(
            &req,
            {{ m.req_type }}_handles
    );
    nk_msg_set_ncaps(
            &res,
            {{ m.res_type }}_handles
    );

    nk_err_t rc = nk_transport_call(
            &this->transport->base,
            &req.base_,
            nullptr,
            &res.base_,
            nullptr
    );

    if (rc != NK_EOK)
        throw rc;

    return &res;

{%- endmacro %}
